<div class="content">
    <div style="width: 90%;">
      <div class="row">
        <div class="col s12 area-titulo-pagina">
          <h4>Acesso ao Sistema</h4>
        </div>
      </div>
      <div class="row">
        <div [ngClass]="{'l6 area-opcoes-open':tipoDeAcesso,'l12 area-opcoes-close':!tipoDeAcesso}" class="area-opcoes col">
          <button (click)="tipoDeAcesso = 1" class="waves-effect waves-light btn">
            Entrar como médico
            <i *ngIf="tipoDeAcesso == 1" class="material-icons right">done</i>
          </button>
          <button (click)="tipoDeAcesso = 2" class="waves-effect waves-light btn">
            Entrar como enfermeira
            <i *ngIf="tipoDeAcesso == 2" class="material-icons right">done</i>
          </button>
          <button (click)="tipoDeAcesso = 3" class="waves-effect waves-light btn">
            Entrar como administrativo
            <i *ngIf="tipoDeAcesso == 3" class="material-icons right">done</i>
          </button>
        </div>
        <div *ngIf="tipoDeAcesso" class="area-form col l6">
          <div class="row">
            <form class="col s12 form-login">
              <div class="input-field col s12">
                <input id="email" type="text" [(ngModel)]="usuario" class="validate">
                <label *ngIf="tipoDeAcesso == 1" for="email">CRM ou Email</label>
                <label *ngIf="tipoDeAcesso == 2" for="email">COREM ou Email</label>
                <label *ngIf="tipoDeAcesso == 3" for="email">CPF ou Email</label>
              </div>
              <div class="input-field col s12">
                <input id="password" type="password" [(ngModel)]="senha" class="validate">
                <label for="password">Senha</label>
              </div>
              <div class="row">
                <div style="display: flex; justify-content: center;" class="col s12">
                  <button (click)="entrar()" class="waves-effect waves-light btn">Entrar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
