.content{
  width: 100vw;
  height: 100vh;
  padding: 20px;
  overflow-x: hidden;
}

.area-perfil{
  width: 100%;
  height: 500px;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 5px black;
}

.area-topo-resumo{
  width: 100%;
  height: auto;
  margin-left: 5px;
  margin-bottom: 25px;
}

.resumo{
  height: 100%;
  padding: 0;
}

.conteudo-resumo{
  padding-right: 10px;
  height: auto;
  font-size: large;
  border: 2px solid #26a69a;
  padding: 10px;
  text-align: center;
  color: #26a69a;
}

.area-nome-clinica{
  width: 100%;
  height: auto;
  padding: 30px;
  border-radius: 20px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #26a69a;
  font-size: large;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-left: 0;
  text-align: center;
  box-shadow: 2px 2px 5px black;
}

.resumo-espaco-esq{
  padding-left: 10px;
}

.titulo-resumo{
  width: 100%;
  height: auto;
  background-color: #26a69a;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.perfil{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto-perfil-area{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 60px;
}

.nome-perfil{
  font-size: large;
  color: #26a69a;
}

.especialidade-perfil{
  font-size: large;
  color: #26a69a;
  margin-top: 20px;
}
