<div class="content">
  <div class="row">

    <div *ngIf="user && router.url != '/login'" class="col s12 l3">
      <div class="area-perfil">
        <div class="perfil">
          <div class="foto-perfil-area">
            <img *ngIf="user && user.fotoPerfil" [src]="'data:'+user.fotoPerfil.tipo+';base64,'+user.fotoPerfil.binario" width="100%" height="100%" />
            <img *ngIf="!user || !user.fotoPerfil" src="../assets/nophoto.png" width="100%" height="100%" />
          </div>
          <span class="nome-perfil">{{user.nome}}</span>

          <span *ngIf="user.esp == 'medico'" class="">CRM: {{user.crm}}</span>
          <span *ngIf="user.esp == 'enfermeiro'" class="">COREM: {{user.corem}}</span>
          <span *ngIf="user.esp == 'agente'" class="">CPF: {{user.cpf}}</span>

          <span *ngIf="user.esp == 'agente'" class="especialidade-perfil">Agente Administrativo</span>
          <span *ngIf="user.esp == 'medico'" class="especialidade-perfil">Médico(a)</span>
          <span *ngIf="user.esp == 'enfermeiro'" class="especialidade-perfil">Enfermeiro(a)</span>
        </div>
        <button (click)="sair()" class="waves-effect waves-light btn red darken-2">Sair</button>
      </div>
    </div>

    <div class="col s12 l9">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
