<div class="row" class="area-cadastro">
    <div class="col s12">
        <div class="row">
            <div class="input-field col s10">
                <select [(ngModel)]="tipoCadastro" name="tipoCadastro" class="browser-default">
                    <option value="0">Escolha uma opção</option>
                    <option value="1">Médico</option>
                    <option value="2">Enfermeiro</option>
                    <option value="3">Agente Administrativo</option>
                </select>
            </div>
        </div>
        <div *ngIf="tipoCadastro != 0">
            <div class="row">
                <div class="input-field col s10">
                    <input id="nomeCompleto" [(ngModel)]="nome" name="nome" type="text" class="validate" required>
                    <label for="nomeCompleto">Nome completo</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10">
                    <input id="email" type="email" [(ngModel)]="email" name="email" class="validate" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div *ngIf="tipoCadastro == 1" class="input-field col s10" required>
                    <input id="crm" type="text"  [(ngModel)]="crm" name="crm" class="validate">
                    <label for="crm">CRM</label>
                </div>
                <div *ngIf="tipoCadastro == 2" class="input-field col s10" required>
                    <input id="corem" type="text" [(ngModel)]="corem" name="corem"  class="validate">
                    <label for="corem">COREM</label>
                </div>
                <div *ngIf="tipoCadastro == 3"  class="input-field col s10" required>
                    <input id="cpf" type="text" [(ngModel)]="cpf" name="cpf" class="validate">
                    <label for="cpf">CPF</label>
                </div>
            </div>

            <button class="btn waves-effect waves-light" (click)="cadastrar()" name="action">Cadastrar</button>
            <button class="btn waves-effect waves-light" style="margin-left: 10px;background-color: #616161;" name="action">Cancelar</button>
        </div>
    </div>
  </div>
