<div class="row">
    <form class="col s12">
        <div>

        </div>
        <div class="row">
            <div class="input-field col s10">
                <select class="browser-default">
                  <option value="" selected>Escolha uma opção</option>
                  <option value="1">Médico</option>
                  <option value="2">Enfermeiro</option>
                  <option value="3">Agente Administrativo</option>
                </select>
            </div>
       </div>
      <div class="row">
        <div class="input-field col s10">
          <input placeholder="Ex: Alberto da silva santos" id="nomeCompleto" type="text" class="validate">
          <label for="nomeCompleto">Nome completo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10">
          <input id="email" type="email"  placeholder="Ex: exemplo@gmail.com" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10">
            <input id="cpf" type="text"  placeholder="Ex: 999.999.999-99" class="validate">
            <label for="cpf">CPF</label>
          </div>
      </div>
    </form>
  </div>