.content{
    width: 100% !important;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .area-conteudo{
    width: 100%;
    height: auto;
    padding: 30px;
    border-radius: 20px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px black;
  
  }
  
  .input-search{
    padding: 10px;
    border-radius: 3px;
    width: 100%;
    margin-top: 10px;
    border: 0;
    background-color: #ddd;
    color: #333;
  }
  
  .input-search::placeholder {
    color: #888;
    opacity: 1;
  }
  